{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
	  <div class="py-5 text-center">
	    <h2>Cart List</h2>
	  </div>
	  <table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Image</th>
		      <th scope="col">Product Name</th>
		      <th scope="col">Price</th>
		      <th scope="col">Quantity</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<form method="post" action="#">
			  	{% for item in cart.getCartProduct %}
				    <tr>
				      <td><img src="https://dummyimage.com/200x200/000/fff"></td>
				      <td>{{ item.getProduct.getProductName }}</td>
				      <td>{{ item.getProduct.getPrice }}</td>
				      <td>
				      		<input type="hidden" name="id_cart_product" value="{{ item.id }}">
					      	<input type="text" name="quantity" value="{{ item.getQuantity }}">
			      	  </td>
				      <td><input type="submit" name="update" value="Update"></td>
				    </tr>
			    {% endfor %}
		    </form>
		  </tbody>
		</table>
		<form method="post" action="{{ order_link }}">
			<table class="table">
				<tr>
					<td>
						<h2>Address List</h2>
						
						{% if user.getAddress %}
							<table>
						   	{% for itemAddress in user.getAddress %}
							    <tr>
							      <td><input type="radio" name="address_id" value="{{ itemAddress.id }}"></td>
							      <td>{{ itemAddress.getAlias }}</td>
							      <td>{{ itemAddress.getNameAccount }}</td>
							      <td>{{ itemAddress.getAddress }}</td>
							      <td>{{ itemAddress.getPhone }}</td>
							    </tr>
						    {% endfor %}
						    </table>
						{% else %}
						   Create address first
						{% endif %}
					</td>
					<td style='text-align:right'>
						<h2>Payment</h2>
						<table class="table">
							<tr>
								<td>
									<div class="form-group">
									  <select class="form-control" name="payment">
									    <option value="">Select payment</option>
									    <option value="transfer bank">Transfer Bank</option>
									    <option value="cod">COD</option>
									  </select>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<td>
						<a href="{{ continue_link }}" class="btn btn-info" role="button">Lanjut Belanja</a></td>
					<td style='text-align:right'>
						<input type="submit" class="btn btn-primary" name="place_order" value="Place Order">
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}

{% block title %}Cart List{% endblock %}